*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background:#272b36;
    color: #d7d7d6
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url(My\ Image.png);
    background-size: cover;
    background-position: center;
}


.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo{
    width: 140px;
}


nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a{
    color: #b7b8bb;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #a08a81;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-content{
    margin-top: 20%;
    font-size: 30px;
}
.header-content h1{
    font-size: 60px;
    margin-top: 20px;
}

.header-content h1 span{
    color: #a08a81;
}


/* ----------------about--------------------------- */
#about{
    padding: 80px 0;
    color: #d7d7d6;

}


.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-c1{
    flex-basis: 35%;
}

.about-c1 img{
    width: 100%;
    border-radius: 15px;
    
}
.about-c2{
    flex-basis: 60%;
}
.subHead{
    font-size: 60px;
    font-weight: 600;
    color: #c9bcad;
}

.tab-ttl{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #7f5836;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ceb3ab;
    font-size: 14px;
}

.tab-contents{
    display: none; /* Hide all tab contents by default */
}

.tab-contents.active-tab{
    display: block; /* Show the active tab content */
}


/* ----------------Services--------------------------- */
#service{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #b7b8bb;
    color: #272b36;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
 .services-list a{
    text-decoration: none;
    color: #272b36;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
 }
 .services-list div:hover{
    background: #8c919d;
    transform: translateY(-10px);
 }

/* ----------------Portfolio--------------------------- */
#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.layer{
    top: 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), #6d7791);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 20px;
    text-align: center;
    font-size: 14px;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #d7d7d6;
    font-size: 18px;
    line-height: 60px;
    height: 60px;
    width: 60px;
    background: #b7b7b6;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
}